/* general text formatting */

h1, h2, h3, nav, footer {
 font-family: Georgia, Cambria, "Times New Roman", serif;
}
body {
   font-family: "Lucida Sans", Verdana, Arial, sans-serif;
   font-size: 100%;
}
table {
      background: #fff;
      border-collapse: collapse;
      color: #222;
      font-family: 'PT Sans', sans-serif;
      font-size: 13px;
      text-align:center;
      margin-left:auto;
      margin-right:auto;
      width:20%;
}
.month {
    padding: 20px 25px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}
.month td {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}
.weekdays td {
    display: inline-block;
    width: 10%;
    color: #666;
    text-align: center;
}
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days td {
    list-style-type: none;
    display: inline-block;
    width: 10%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color:#777;
}

/* Highlight the "current" day */
.days td .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}

.days td .prev{
    float: left;
    padding-top: 10px;
}
.days td .next{
    float: right;
    padding-top: 10px;
}