@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Markov Chain</h1>
    <p class="lead">Final project for Introduction to Web Technologies.</p>
	<p class="lead">This project is written in ASP.NET using MVC. Markov Chain written in C#.</p>
    <p><a href="ChatBot" class="btn btn-primary btn-lg">Begin &raquo;</a></p>
</div>