@model List<FinalProject.Models.DBViewModel>
@{
	ViewBag.Title = "HallOfQuotes";
}

<h2>HallOfQuotes</h2>

<table class="table">
	<tr>
		<th>Added On</th>
		<th>Quote</th>
		<th>Actions</th>
	</tr>
	@foreach(var item in Model)
	{
		<tr>
			<td>@item.Added</td>
			<td>@item.Quote</td>
			<td>
				@Html.ActionLink("Details", "Details", new { id = item.ID })
				@Html.ActionLink("Delete", "Delete", new { id = item.ID })
			</td>
		</tr>
	}
</table>


